.DS_Store
node_modules
npm-debug.log
css-template.css
css-animated.css
sass-compiled.css
material-design-icons
scripts/md-web-data.json
.idea/
TODO
.todo
temp/

# Tests
test/__temp__/**/*.js
test/__temp__/**/*.svg
test/__temp__/**/*.json
test/dummy-data/**/*.json
test/dummy-data/**/*.svg
!test/dummy-data/persistent/**
